body{
    background-color: antiquewhite;
}

a:link{color: blue;}
a:visited{color:#000;}
a:hover{color:blue;}
a:active{color: aqua;}

img {
    float: right;
}
table:nth-child(1){ 
    width: 100%;
}

table:nth-child(2){ 
    border: 2px black solid;
    text-align: center;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 20px;
    background-color: cornsilk;
}